#map {
  width: 1000px;
  height: 600px;
}
.register-ch {
  margin: 90px 0;
}

/* register css */
.form-outline input {
  color: black;
  opacity: 0.9;
  font-size: 14px;
}

main {
  margin-top: 80px;
  height: 800px;
}
.select-menu {
  display: flex;
  width: 400px;
  height: 400px;

  border : 2px solid rgba(100,100,230,0.6);
  justify-content: center;
  align-items: center;

  border-radius: 25px;
}

.select-menu:hover {
  background-color: rgba(100,100,230,0.2);
}
